@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Colors */
  --color-main-red: #cb2925;
  --color-hover-red: #a8221e;
  --color-off-white: #e8e9ea;
  --color-text: #1a1a1a;
  --color-alternative: #4b5563;

  /* Fonts */
  --font-title: "Bebas Neue", sans-serif;
  --font-body: "Roboto", sans-serif;
}

@layer utilities {
  .font-title {
    font-family: var(--font-title);
    font-weight: 400;
    font-style: normal;
  }

  .font-body {
    font-family: var(--font-body);
  }

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  .animate-marquee {
    animation: marquee 40s linear infinite; 
  }
}
